<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Landing</title>
</head>

<style>
  .d-flex{
    margin-top: 100px;
  }

  
</style>

<body>


  {% load crispy_forms_tags %}
 <div class="d-flex  justify-content-center">
    <form method="post">
      {% csrf_token %}
      {{ form |crispy }}

      {% if not pred %}

      
      <button type="submit" class="btn btn-primary" >
        Estimate
      </button>  
      {% endif %}
    </form>
  </div>
  
  {% if pred %}
  
<div class="d-flex  justify-content-center">
  <div>
    <h3>Salary: </h3> 
    <h1>  {{pred}} USD</h1>
  </div>
 
</div>
  
  
    
  {% endif %}
  



    











<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 




</body>

</html>